<!DOCTYPE html>
<html>
  <head>
    <title>Choose Async Style</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Choose Async Style</h1>
    <ul class="choose">
      <li><a href="/callback">Basic Node Callback</a></li>
      <li><a href="/bluebird">Bluebird Promise Library</a></li>
      <li><a href="/qpromises">Q Promise Library</a></li>
      <li>Async Library (In Progress)</li>
    </ul>
  </body>
</html>